In [1]:
import pandas as pd
import numpy as np

In [2]:
df4= pd.read_csv("LPOINT_BIG_COMP_04_PD_CLAC.csv", sep=',')
df4

        pd_c     pd_nm clac_hlv_nm clac_mcls_nm
0     PD0001        소파          가구         거실가구
1     PD0002   스툴/리빙의자          가구         거실가구
2     PD0003        탁자          가구         거실가구
3     PD0004   장식장/진열장          가구         거실가구
4     PD0005      기타가구          가구         기타가구
...      ...       ...         ...          ...
1928  PD1929      여성향수    화장품/뷰티케어           향수
1929  PD1930      남성향수    화장품/뷰티케어           향수
1930  PD1931    남녀공용향수    화장품/뷰티케어           향수
1931  PD1932    남성향수세트    화장품/뷰티케어           향수
1932  PD1933  남녀공용향수세트    화장품/뷰티케어           향수

[1933 rows x 4 columns]

In [3]:
df4.isnull().sum()

pd_c            0
pd_nm           0
clac_hlv_nm     0
clac_mcls_nm    0
dtype: int64

In [4]:
pd.DataFrame(df4.groupby(df4['clac_hlv_nm']).size().sort_values(), columns = ['상품 대분류 별 상품 개수'])

             상품 대분류 별 상품 개수
clac_hlv_nm
기타상품                      1
금융/보험서비스                  1
유아식품                      4
담배                        6
여행/레저서비스                  6
모바일                       6
기타(비상품)                   7
유제품                       9
상품권                      10
냉장/세탁가전                  12
생활/렌탈서비스                 13
컴퓨터                      14
병통조림                     14
공구/안전용품                  15
계절가전                     15
서적/음반/악기                 15
양곡                       15
헬스/피트니스                  15
커피/차                     20
냉동식품                     20
인테리어/조명                  21
시즌스포츠                    22
주류                       22
테넌트/음식점                  22
음료                       24
건강용품                     25
남성의류                     26
영상/음향가전                  27
세제/위생                    28
대용식                      29
여성의류                     29
청소/세탁/욕실용품               30
건해산물                     30
완구                       31
가구                       31
주방잡화                     32
건강식품                     32
출산/육아용품                  32
냉장식품                     32
아웃도어/레저                  34
침구/수예                    35
자동차용품                    35
과자                       36
식기/조리기구                  36
조리식품                     38
구기/필드스포츠                 38
원예/애완                    39
퍼스널케어                    39
생활/주방가전                  43
화장품/뷰티케어                 50
조미료                      51
속옷/양말/홈웨어                56
과일                       58
유아동의류                    67
채소                       72
문구/사무용품                  72
스포츠패션                    82
수산물                      88
축산물                      91
패션잡화                    130

In [5]:
pd.DataFrame(df4.groupby(df4['clac_mcls_nm']).size().sort_values(), columns = ['상품 중분류 별 상품 개수'])

              상품 중분류 별 상품 개수
clac_mcls_nm
스케이트/썰매                    1
특수담배                       1
소모품                        1
기프트                        1
남아의류세트                     1
...                      ...
일반문구/사무용품                 17
잎채소                       18
주방가전                      18
국산과일                      19
어류                        20

[349 rows x 1 columns]

In [6]:
df2 = pd.read_csv("p2_numeric.csv", sep=',')
df2

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct
0,0,M430112881,A01000001113,1,101,A010039,PD0290,1,2,15000.0,1
1,1,M646853852,A01000002265,1,101,A010025,PD1369,1,2,79700.0,1
2,2,M430112881,A01000003148,1,101,A010039,PD0290,1,2,19000.0,1
3,3,M430112881,A01000003148,1,101,A010039,PD0290,1,2,19000.0,1
4,4,M430112881,A01000004946,1,101,A010039,PD0290,1,2,19000.0,1
...,...,...,...,...,...,...,...,...,...,...,...
4381738,4381738,M533286446,E06052119978,2,106,NaN,PD0507,4,4,50000.0,1
4381739,4381739,M533286446,E06052119978,2,106,NaN,PD0507,4,4,50000.0,1
4381740,4381740,M533286446,E06052119978,2,106,NaN,PD0507,4,4,50000.0,1
4381741,4381741,M533286446,E06052119978,2,106,NaN,PD0507,4,4,50000.0,1
4381742,4381742,M533286446,E06052119978,2,106,NaN,PD0507,4,4,50000.0,1

In [7]:
df24 = pd.merge(df2, df4, left_on = 'pd_c', right_on = 'pd_c', how = 'outer')
df24

,Unnamed: 0,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm
0,0,M430112881,A01000001113,1,101,A010039,PD0290,1,2,15000.0,1,남성티셔츠,남성의류,남성의류상의
1,2,M430112881,A01000003148,1,101,A010039,PD0290,1,2,19000.0,1,남성티셔츠,남성의류,남성의류상의
2,3,M430112881,A01000003148,1,101,A010039,PD0290,1,2,19000.0,1,남성티셔츠,남성의류,남성의류상의
3,4,M430112881,A01000004946,1,101,A010039,PD0290,1,2,19000.0,1,남성티셔츠,남성의류,남성의류상의
4,147,M506355556,A01000107137,1,101,A010032,PD0290,1,3,199000.0,1,남성티셔츠,남성의류,남성의류상의
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381738,4378605,M696533418,E06045892016,2,106,NaN,PD0520,4,1,9900.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스
4381739,4378606,M696533418,E06045892016,2,106,NaN,PD0520,4,1,9900.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스
4381740,4378865,M111856694,E06045887405,2,106,NaN,PD0520,4,1,100.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스
4381741,4378866,M001808316,E06045891296,2,106,NaN,PD0520,4,1,100.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스
4381742,4379050,M475857646,E06046013307,2,106,NaN,PD0520,4,1,100.0,1,자동차/레저렌탈,생활/렌탈서비스,렌탈서비스

In [16]:
df24[df24['buy_ct']==100]

,Unnamed: 0,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm
43052,90853,M282697479,A01064770920,1,101,A010037,PD1181,1,3,300000.0,100,커피음료,음료,커피음료
43962,189324,M282697479,A01135093413,1,101,A010037,PD1181,2,3,300000.0,100,커피음료,음료,커피음료
45048,305144,M282697479,A01217558938,1,101,A010037,PD1181,2,3,300000.0,100,커피음료,음료,커피음료
46577,436519,M282697479,A01311491571,1,101,A010037,PD1181,3,3,350000.0,100,커피음료,음료,커피음료
47470,515552,M282697479,A01368542746,1,101,A010037,PD1181,3,3,300000.0,100,커피음료,음료,커피음료
96829,878493,M220751128,A02184946295,1,102,A020051,PD0949,1,3,1000000.0,100,여성티셔츠/탑,여성의류,여성의류상의
194306,2428648,M085041421,A02156839794,1,102,A020040,PD0777,3,3,1000000.0,100,남성런닝/트레이닝화,스포츠패션,남성스포츠화
1125797,1723400,M037911118,A02349418443,1,102,A020112,PD1173,2,2,200000.0,100,생수,음료,생수
1357921,2092035,M745864268,A02246841871,1,102,A020074,PD0005,3,3,1000000.0,100,기타가구,가구,기타가구
1590144,3993215,M035037103,A04004771811,1,104,A042600,PD1847,1,4,850000.0,100,생리대,퍼스널케어,여성위생용품
2193885,4052020,M913531244,A04029022280,1,104,A043492,PD0228,2,3,170000.0,100,감자스낵,과자,스낵류
2415363,4374795,M927998831,E06047735952,2,106,NaN,PD1831,4,3,790000.0,100,칫솔,퍼스널케어,구강케어
2962684,4376390,M906226236,E06048834572,2,106,NaN,PD1853,4,3,370000.0,100,핸드워시/손세정제,퍼스널케어,핸드/풋케어
3481537,48054,M838622742,A01033672436,1,101,A010018,PD1316,1,3,1050000.0,100,식용유세트,조미료,조미료세트
3559163,1216482,M245283859,A02254698310,1,102,A020077,PD1484,1,2,124000.0,100,종량제봉투,청소/세탁/욕실용품,청소용품
3569466,1789610,M245283859,A02255408579,1,102,A020077,PD1484,2,2,124000.0,100,종량제봉투,청소/세탁/욕실용품,청소용품
3867134,3999834,M035037103,A04007386527,1,104,A042600,PD0396,1,3,450000.0,100,즉석컵밥,대용식,레토르트
3867156,4011611,M035037103,A04012132701,1,104,A042600,PD0396,1,3,350000.0,100,즉석컵밥,대용식,레토르트
4003164,4315734,M768874888,E06006797437,2,106,NaN,PD0498,1,2,1490000.0,100,참치통조림,병통조림,수산물통조림
4352475,4219289,M103897322,A04096728782,1,104,A045011,PD0380,4,4,450000.0,100,수입담배,담배,일반담배

In [8]:
print('상품명\n', df24['pd_nm'].mode())
print('상품 대분류\n',df24['clac_hlv_nm'].mode())
print('상품 중분류\n',df24['clac_mcls_nm'].mode())

상품명
 0    일반스낵
dtype: object
상품 대분류
 0    과자
dtype: object
상품 중분류
 0    스낵류
dtype: object

In [9]:
df2.groupby('de_dt')['cust'].count()

de_dt
1    1188738
2    1171363
3    1076493
4     945149
Name: cust, dtype: int64

In [10]:
df2.groupby('de_hr')['cust'].count()

de_hr
1      50943
2     506817
3    2306610
4    1517373
Name: cust, dtype: int64

In [11]:
df1 = pd.read_csv("LPOINT_BIG_COMP_01_DEMO.csv", sep=',')

In [12]:
df124 = pd.merge(df1, df24, left_on = 'cust', right_on = 'cust', how = 'outer')

In [13]:
df124

,cust,ma_fem_dv,ages,zon_hlv,Unnamed: 0,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,pd_nm,clac_hlv_nm,clac_mcls_nm
0,M000034966,여성,40대,Z07,1377582.0,A02357420240,1.0,102.0,A020116,PD0952,1.0,4.0,59800.0,1.0,여성베스트,여성의류,여성의류상의
1,M000034966,여성,40대,Z07,1377583.0,A02357421026,1.0,102.0,A020116,PD0952,1.0,4.0,22800.0,1.0,여성베스트,여성의류,여성의류상의
2,M000034966,여성,40대,Z07,2021903.0,A02358228482,1.0,102.0,A020116,PD0952,2.0,3.0,65700.0,1.0,여성베스트,여성의류,여성의류상의
3,M000034966,여성,40대,Z07,24063.0,A01016688590,1.0,101.0,A010045,PD0796,1.0,4.0,100.0,1.0,스포츠아대/헤어밴드,스포츠패션,스포츠잡화
4,M000034966,여성,40대,Z07,24061.0,A01016688590,1.0,101.0,A010045,PD0777,1.0,4.0,59000.0,1.0,남성런닝/트레이닝화,스포츠패션,남성스포츠화
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4384734,M999962961,여성,50대,Z17,3737230.0,A03073005783,1.0,103.0,A030118,PD0355,3.0,3.0,11900.0,1.0,냉장치킨족발류,냉장식품,냉장간편식
4384735,M999962961,여성,50대,Z17,3060669.0,A02034710612,1.0,102.0,A020006,PD0983,4.0,3.0,8000.0,1.0,기타이용권,여행/레저서비스,이용권/입장권
4384736,M999962961,여성,50대,Z17,3260021.0,A03071991818,1.0,103.0,A030118,PD0322,1.0,4.0,10990.0,1.0,냉동부침,냉동식품,냉동간편식
4384737,M999962961,여성,50대,Z17,3228892.0,A03071935135,1.0,103.0,A030118,PD0357,1.0,4.0,6990.0,1.0,냉장안주,냉장식품,냉장간편식
4384738,M999962961,여성,50대,Z17,3591713.0,A03072652674,1.0,103.0,A030118,PD0743,3.0,3.0,3990.0,1.0,대합,수산물,조개류

In [14]:
df124.groupby('clac_hlv_nm')['ages'].agg(**{'most_common_value':lambda x:x.mode()}).reset_index()

   clac_hlv_nm most_common_value
0           가구               40대
1         건강식품               40대
2         건강용품               40대
3         건해산물               40대
4         계절가전               40대
5      공구/안전용품               40대
6           과일               40대
7           과자               40대
8     구기/필드스포츠               40대
9     금융/보험서비스               40대
10     기타(비상품)               40대
11        기타상품               40대
12        남성의류               40대
13        냉동식품               40대
14     냉장/세탁가전               40대
15        냉장식품               40대
16          담배               40대
17         대용식               40대
18         모바일               40대
19     문구/사무용품               40대
20        병통조림               40대
21         상품권               40대
22    생활/렌탈서비스               40대
23     생활/주방가전               40대
24    서적/음반/악기               40대
25       세제/위생               40대
26   속옷/양말/홈웨어               40대
27         수산물               40대
28       스포츠패션               40대
29       시즌스포츠               40대
30     식기/조리기구               40대
31     아웃도어/레저               40대
32          양곡               40대
33        여성의류               40대
34    여행/레저서비스               30대
35     영상/음향가전               40대
36          완구               30대
37       원예/애완               40대
38       유아동의류               40대
39        유아식품               30대
40         유제품               40대
41          음료               40대
42     인테리어/조명               40대
43       자동차용품               40대
44        조리식품               40대
45         조미료               40대
46          주류               40대
47        주방잡화               40대
48          채소               40대
49  청소/세탁/욕실용품               40대
50         축산물               40대
51     출산/육아용품               30대
52       침구/수예               40대
53        커피/차               40대
54         컴퓨터               40대
55     테넌트/음식점               40대
56        패션잡화               40대
57       퍼스널케어               40대
58     헬스/피트니스               40대
59    화장품/뷰티케어               40대